/* CSS
Website: My Programming Site v.2
Author: MARCO POGGIO */

body{
	background:#FFFFFF;
	font-family: Georgia, TimesNewRoman, 'Times New Roman', serif;
}

h1{
	color:#431711;
	color:rgba(233,32,6,.8);
	font-family:tahoma, sans-serif;
}

p{
	color:#00255D;
}

p:first-letter{
	font-size: 28px;
	font-weight: bold;
}

h1:hover{
	color: blue;
}
hr{border-color: #000000;
}

/*container style*/
#content{
	width:800px;
	border-width: 4px;
	border-color: #000;
	border-style: solid;
	background-color: rgba(27,27,27,.4);
	margin: 0 auto;
	padding: 20px;
	border-radius: 15px;

}