/* CSS
Website: My Programming Site v.2
Author: MARCO POGGIO aaa*/

h1{position: absolute;
	top: 50%;
	text-align: center;
	width
}

#boxes{
	height:300px;
}

.box{
	width:200px;
	height:200px;
	border:1px solid #000;
	margin-bottom:20px;
	margin-right:20px;
	float:left;

}

#blue{
	background:blue;
}

#green{
	background:green;
}

#red{
	background:red;
}